body {
  background-color: #f8f8f8;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

.app {
  justify-content: start;
  align-items: start;
}
.operation {
  width: 100%;

  margin-bottom: 30px;
  background-color: #e7493e;
}
.check,
.offices {
  width: 40vw;
  padding: 15px 5px;

  border: none;

  border-bottom: 2px solid #e7493e;

  color: #fff1ea;
  background-color: #e7493e;

  @media screen and (min-width: 480px) {
    width: 190px;
  }
}
.check {
  margin-right: 25px;
}
.check:focus,
.check:hover,
.offices:focus,
.offices:hover {
  border-bottom: 2px solid #3e4450;
}

.get {
  display: flex;
  margin-bottom: 40px;
}
.input {
  padding: 5px 0;
  width: 50vw;
  margin-right: 2vw;

  color: #020024;

  @media screen and (min-width: 480px) {
    width: 240px;
  }
}
.get-btn {
  padding: 5px 5vw;
  border-radius: 10px;
  color: #fff1ea;
  background-color: #3e4450;

  @media screen and (min-width: 480px) {
    padding: 5px 25px;
    width: 145px;
  }
}
.get-btn:hover,
.get-btn:focus {
  background-color: #ac062d;
}

.info {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.details {
  padding: 10px;
  background-color: #eeeeee;
  border: 1px solid black;

  @media screen and (min-width: 768px) {
    width: 60vw;
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: 720px;
  }
}
.details-text {
  display: block;
  margin-bottom: 15px;
}
.history {
  padding: 10px;
  background-color: #eeeeee;
  border: 1px solid black;

  @media screen and (min-width: 768px) {
    width: 150px;
  }
}
.icon-hide {
  width: 25px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.history-box {
  overflow: hidden;
}
.hidden {
  max-height: 0;
}
.history-header {
  display: flex;
  justify-content: space-between;
}
.history-text {
  display: block;
  margin-bottom: 10px;
}
.history-clear {
  color: #fff1ea;
  background-color: #da281c;
}
.history-clear:focus,
.history-clear:hover {
  background-color: #ae2117;
}

.city-form {
  margin-bottom: 15px;
}

.rotate {
  transform: rotate(180deg);
}
