ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

.app {
  justify-content: start;
  align-items: start;
}
.operation {
  margin-bottom: 30px;
}
.check,
.offices {
  width: 40vw;
  padding: 15px 5px;

  @media screen and (min-width: 480px) {
    width: 190px;
  }
}
.check {
  margin-right: 25px;
}
.check:focus,
.offices:focus {
  background-color: #808080;
}

.get {
  display: block;
  margin-bottom: 40px;
}
.input {
  padding: 5px 0;
  width: 50vw;
  margin-right: 2vw;

  @media screen and (min-width: 480px) {
    width: 240px;
  }
}
.get-btn {
  padding: 5px 5vw;
  border-radius: 10px;
  background-color: #ffa500;

  @media screen and (min-width: 480px) {
    padding: 5px 25px;
    width: 145px;
  }
}

.info {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.details {
  padding: 10px;
  background-color: #eeeeee;
  border: 1px solid black;

  @media screen and (min-width: 768px) {
    width: 60vw;
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: 720px;
  }
}
.details-text {
  display: block;
  margin-bottom: 15px;
}
.history {
  padding: 10px;
  background-color: #eeeeee;
  border: 1px solid black;

  @media screen and (min-width: 768px) {
    width: 150px;
  }
}
.history-text {
  display: block;
  margin-bottom: 10px;
}

.city-form {
  margin-bottom: 15px;
}
